body{background-color: pink;
}

h2{color:blueviolet
}

h3{color: blue;
}

p{background-color: aqua;
}  
    #hab{color:red}
img{
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: auto;
}

body{
font-family:'Madimi one' ,sans-serif
background-color: antiquewhite;
font-size: 11px;
}

header{
    text-align: center;
    background-color: color(srgb rgb(57, 20, 20);
    color: white;
}

#perfil{
    width: 150;
}
. titulo

h2{
    color: aqua;
}

#edu{
    color: beige;

    header nav  ul
    background-color:;
    list-style-type: none;
    }

}